<div class="container mt-3">
  <div class="card">
    <div class="card-body">
      <h3>Controle de contatos</h3>
      <p>Listagem de contatos cadastrados.</p>

      <div *ngIf="mensagem != ''" class="alert alert-primary alert-dismissible fade show" role="alert">
        <strong>{{mensagem}}</strong>
        <button (click)="mensagem = ''" type="button" class="btn-close" aria-label="Close"></button>
      </div>

      <div class="table-responsive">
        <table class="table table-sm table-hover table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>Email</th>
              <th>Telefone</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let c of contatos | paginate: { itemsPerPage: 7, currentPage: paginador }">
              <td>{{c.nome | uppercase}}</td>
              <td [ngStyle]="{'text-decoration': 'underline'}">{{c.email}}</td>
              <td>{{c.telefone}}</td>
              <td>
                <button class="btn btn-sm btn-outline-primary" [routerLink]="['/editar-contatos', c.id]">
                  Editar
                </button>
                <button class="btn btn-sm btn-outline-danger ms-2" data-bs-toggle="modal"
                  data-bs-target="#modalExclusao" (click)="onSelect(c)">
                  Excluir
                </button>
              </td>
            </tr>
          </tbody>
          <tfoot>
            <tr>
              <td colspan="5">
                Quantidade de contatos: {{contatos.length}}
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
      <div class="text-center mt-2">
        <!--Regua de paginação-->
        <pagination-controls previousLabel="Página anterior" nextLabel="Próxima página"
          (pageChange)="pageChange($event)" />
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="modalExclusao" tabindex="-1" aria-hidden="ture">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Exclusão de produto</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>
          Deseja realmente excluir o contato selecionado?
        </p>

        <div>
          <table class="table table-sm">
            <tr>
              <td>Nome: </td>
              <td><strong>{{contato.nome | uppercase}}</strong></td>
            </tr>
            <tr>
              <td>Email: </td>
              <td [ngStyle]="{'text-decoration': 'underline'}"><strong>{{contato.email}}</strong></td>
            </tr>
            <tr>
              <td>Telefone: </td>
              <td><strong>{{contato.telefone}}</strong></td>
            </tr>
          </table>
        </div>

        <div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="button" class="btn btn-danger" (click)="onDelete()" data-bs-dismiss="modal">
              Confirmar exclusão</button>
          </div>
        </div>


      </div>
    </div>
  </div>
</div>